<% if(signin && signin.length >0) {%>
<div class="alert__container">
    <div class="alert" role="alert"><%= signin %></div>
</div>
<% }%> <% if(signup && signup.length >0) {%>
<div class="alert__container">
    <div class="alert" role="alert"><%= signup %></div>
</div>
<% }%>
